body {
    .follow-status-wait {
        background-color: #99CCFF;
        width: auto !important;
    }
    .follow-status-discuss {
        background-color: #FFCC33;
        width: auto !important;
    }
    .follow-status-cooperation {
        background-color: #99CC00;
        width: auto !important;
    }
    .follow-status-stop {
        background-color: #FF6666;
        width: auto !important;
    }
}