body {
    font-family: "Microsoft YaHei UI", Arial;
    background-color: black;
    .list {
        position: absolute;
        overflow: hidden;
        z-index: 1;
        img {

        }
    }

    .background {
        z-index: 2;
        img {
            width: 100%;
        }
    }

    .controll {
        position: absolute;
        z-index: 1;
        .line {
            font-size: 18px;
            font-weight: bolder;
            button {
                color: white;
                border: none;
                background-color: rgba(186, 39, 45, 1);
                outline: none;
                cursor: pointer;
            }
        }
        .speed{
            font-size: 18px;
            font-weight: bolder;
            input{
                padding-left: 10px;
                padding-right: 10px;
                border: none;
                outline: none;
            }
        }

    }

}
