@charset "utf-8";
body {
    font-family: "Microsoft YaHei UI", Arial;
    overflow-y: scroll;
    .list {
        position: absolute;
        overflow: hidden;
        z-index: 1;
        img {

        }
    }

    .background {
        position: absolute;
        width: 100%;
        z-index: 2;
        img {
            width: 100%;
        }
    }

}
